footer {
    background-color: $footer-bg;
    padding: 2rem 0;

    .bank {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            width: 50px;
            height: 50px;
            background-image: url('../img/ic-bank-logo.png');
            background-repeat: no-repeat;
            background-size: 194px;
            margin: 0.25rem;

            &:nth-child(1) {
                background-position: 4px 4px;
            }

            &:nth-child(2) {
                background-position: -46px 4px;
            }

            &:nth-child(3) {
                background-position: -96px 4px;
            }

            &:nth-child(4) {
                background-position: -146px 4px;
            }

            &:nth-child(5) {
                background-position: 6px -44px;
            }

            &:nth-child(6) {
                background-position: -46px -44px;
            }

            &:nth-child(7) {
                background-position: -96px -44px;
            }

            &:nth-child(8) {
                background-position: -146px -44px;
            }

            &:nth-child(9) {
                background-position: 6px -92px;
            }

            &:nth-child(10) {
                background-position: -46px -92px;
            }

            &:nth-child(11) {
                background-position: -96px -92px;
            }

            &:nth-child(12) {
                background-position: -146px -92px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .bank {
            &-item {
                filter: grayscale(1);
                @include transition($transition-base);

                &:hover {
                    filter: grayscale(0);
                    transform: scale(1.1);
                    @include transition($transition-base);
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 6rem;
    }
}