main {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .btn-line {
        display: inline-block;
        width: 50px;
        position: fixed;
        bottom: 25%;
        right: 2%;
        border-radius: 100%;
        border: 2px solid $white;
        padding: 2px;
        box-shadow: 0 0 .5rem $white;
        overflow: hidden;

        img {
            max-width: 100%;
            @include transition($transition-base);
        }

        &:hover {
            img {
                transform: scale(1.5);
                @include transition($transition-base);
            }
        }
    }

    .btn-google-play {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $secondary;
        color: $white;
        text-align: center;
        padding: .5rem;
        font-size: 1.25rem;
        border-top: 2px solid $secondary-light;
        box-shadow: 0 0 1rem $secondary-light;
    }

    @include media-breakpoint-up(lg) {
        .btn-line {
            width: 60px;
        }

        .btn-google-play {
            display: none;
        }
    }
}